*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
}


#nav{
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    /* padding: 0 20px; */
   

}


#background {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding: 0 2%;
}


#background i {
    cursor: pointer;
}



#headings{
    text-align: center;
    margin-top: 60px;
}

#headings h1{
    font-size: 50px;
}
#headings p{
    font-size: 14px;
}



#elements {
    width: 100%;
    margin-top: 100px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#elements .element {
    width: 200px;
    height: 270px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.007);
    border-radius: 10px;
}

.element .pic {
    width: 100% ;
    height: 70%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

#elements .element:nth-child(1) .pic{
    background-image: url(https://img.freepik.com/free-vector/desktop-smartphone-app-development_23-2148683810.jpg?size=626&ext=jpg&ga=GA1.1.374244276.1703126606&semt=sph);
}
#elements .element:nth-child(2) .pic{
    background-image: url(https://img.freepik.com/free-vector/web-development-programmer-engineering-coding-website-augmented-reality-interface-screens-developer-project-engineer-programming-software-application-design-cartoon-illustration_107791-3863.jpg?size=626&ext=jpg&ga=GA1.1.374244276.1703126606&semt=sph);
}
#elements .element:nth-child(3) .pic{
    background-image: url(https://img.freepik.com/free-vector/hand-drawn-flat-design-api-illustration_52683-84601.jpg?size=626&ext=jpg&ga=GA1.1.374244276.1703126606&semt=sph);
}
#elements .element:nth-child(4) .pic{
    background-image: url(https://img.freepik.com/free-photo/3d-render-code-testing-functional-test-usability_107791-16607.jpg?size=626&ext=jpg&ga=GA1.1.374244276.1703126606&semt=sph);
}



.element .content {
  padding: 10px;
}
.element .content h3 {
  color: rgb(20, 19, 19);
  margin-top: 10px;
}
.element .content span {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}
